<!DOCTYPE html>
<html>

<head>
    <title>Forecast History</title>
    <link rel="icon" href="/img/weather.png">
     {{>header}} 
    
    
</head>

<body>
    
  <div class="main-content">

     <h2>Forcast - Location - History</h2>
     
    <p>{{forecastText}}</p>
    </div>

   {{>footer}}
</body>
<footer>
    
</footer>

</html> 