<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
     <link rel="icon" href="/img/weather.png">
     {{>header}} 
</head>

<body>
    
  <div class="main-content">

     <h2>So you need Help?</h2>
    <p>{{HelpText}}</p>
    </div>

   {{>footer}}
</body>
<footer>
    
</footer>

</html> 