<!DOCTYPE html>

<html>
<head>
    <title>Home</title>
    <link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/css/styles.css">

</head>

<body>
   

    <div class="main-content">
 {{>header}} 
    <p> Use this Site to get your weather</p>   
    <form>
        <input placeholder="Location, City, or ZIP">
        <button>Search</button>
    </form>
    <p id="inputLocation"> </p>
    <p id="inputForecast"> </p>
   
        <p id="inputAlerts"> </p>
   
    </div>
    
     {{>footer}}

     <script src="/js/app.js"></script> 
</body>
<footer>
   
</footer>
</html>