<!doctype html>
<html lang="en">
  <head>
    <title class="pageTitle">Stormlite</title>
     <link rel="icon" href="/img/weather.png">
{{>header}} 
  
  </head>
  <body>
      
     <div class="main-content">
    <p> Use this Site to get your weather</p>   

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Location, City, or ZIP" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
       <div class="forecastBox">
         
          
  			<div>
           <canvas class="dsIcon" id="icon" width="100" height="100"></canvas>
    <p id="inputLocation"> </p>
    <p id="inputForecast"> </p>
    <p id="inputAlerts"> </p> 
          </div>
			  </div> 
    </div>
    
    
     {{>footer}}
    
     <script src="/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/skycons/1396634940/skycons.js" 
  integrity="sha512-6Qi7qYyfdjqiOXOqpU4OYEPpcm4hE0IQGP/8YY9csFpkdbaOcSWlSWwkdADw/8nOtWqsjdibbiBsRhoRyjk1YQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
  </body>
</html>
