body {
    background-color: #010000;
    color: #bccfe8;
    font-family: arial;
    max-width: 2080px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column ;
    min-height: 100vh;
}
.main-content {
    flex-grow: 1;
  
}

.main-content form {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.main-content p {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
footer {
 
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
   
    margin-top: 38px;
    margin-bottom: 48px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    margin-bottom: 16px;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 16px;
}

.portrait {
    width: 250px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

 .box div {
    margin-top: 38px;
  width: 850px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;

}
.forecastBox {
    margin-left: 40px;
    margin-right: 40px;
     margin-top: 38px;
     margin-bottom: 48px;
     width: auto;
     align-items: center;
 
 }
 .table-refresh {
    min-width: 400px;
    max-width: 1000px;
    font-size: 20px;
    font-family: sans-serif;
}

.table-refresh__table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #009578;
}

.table-refresh__table thead tr {
    background: #009578;
    color: #000000;
}

.table-refresh__table th,
.table-refresh__table td {
    text-align: left;
    padding: 9px 18px;
    font-weight: normal;
}

.table-refresh__options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px;
}
.table-refresh__options > *:not(:last-child){
    margin-right: 12px;
}

.table-refresh__button {
    background: #eeeeee;
    color: #333333;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.table-refresh__button > i {
    font-size: 2.2em;
}
.table-refresh__button--refreshing {
    animation: 0.5s rotate infinite linear;
}

@keyframes rotate {
    to{
        transform: rotate(1turn);
    }
}

.table-refresh__label {
    font-size: 0.8em;
    

}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100px;
}
